{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "blog/style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="chat-button">
        <img class="chat" src="{% static "blog/images/chat-button.png" %}" alt="">
    </div>
    <section class="navigation">
        <div class="navi-container">
            <img class="kubera" src="{% static "blog/images/kubera logo.png" %}" alt="">
            
            <div class="navs">
                <a class="nav-links" href="">How it works</a>
                <a class="nav-links" href="">Pricing</a>
                <a class="nav-links" href="">Security</a>
                <a class="nav-links" href="">For Institutions</a>
                <a class="nav-links" href="">Log In</a>
                <a class="nav-links-sign-up" href="">Sign Up</a>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="top-post-image-div">
            <a href="">
                <img src="{% static "blog/images/5e4b8f12419b3319f9090117_transparent.png" %}" alt="">
            </a>
        </div>
        <h1>
            How to Connect Crypto, Brokerage, & Bank 
            Accounts in One Place
        </h1>
        <p class="post-text">
            The most modern portfolio tracker 
            for monitoring and managing your crypto, 
            brokerage, bank, and other financial 
            accounts without sacrificing privacy or 
            security.
        </p>
        <p class="author">
            TINA EATON
        </p>

        <div class="other-posts">
            <div class="post">
                <div class="post-thumbnail-1">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
                
            </div>

            <div class="post">
                <div class="post-thumbnail-2">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>

            <div class="post">
                <div class="post-thumbnail-3">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>

            <div class="post">
                <div class="post-thumbnail-4">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>

            <div class="post">
                <div class="post-thumbnail-5">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>

            <div class="post">
                <div class="post-thumbnail-6">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>

            <div class="post">
                <div class="post-thumbnail-7">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>

            <div class="post">
                <div class="post-thumbnail-8">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>

            <div class="post">
                <div class="post-thumbnail-9">
                </div>
                <h2>
                    Contrasting The Top DeFi Tools of 2021: Zapper vs. Zerion vs. DeBank
                </h2>
                <p class="author">
                    TINA EATON
                </p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-container">
            <div class="kubera-footer">
                <img class="footer-kubera" src="{% static "blog/images/kubera logo.png" %}" alt="">
                <p class="copyright">
                    &#169  2021 Kubera Apps, Inc.
                    Kubera® is a registered trademark of
                    Kubera Apps, Inc.
                </p>
            </div>
            <div class="kubera-footer">
                <a class="footer-links" href="">The Best Portfolio Tracker</a>
                <a class="footer-links" href="">
                    Great support for Crypto
                </a>
                <a class="footer-links" href="">
                    Track your wealth. Know your net worth
                </a>
                <a class="footer-links" href="">
                    Transfer portfolio to your beneficiary
                </a>
                <a class="footer-links" href="">
                    Global Banks & Brokerage Support
                </a>
                <a class="footer-links" href="">
                    White-Label Kubera for Institutions
                </a>
            </div>
            <div class="kubera-footer">
                <a class="footer-links" href="">
                    Why Kubera?
                </a>
                <a class="footer-links" href="">
                    How Kubera works
                </a>
                <a class="footer-links" href="">
                    Kubera Blog
                </a>
                <a class="footer-links" href="">
                    About us
                </a>
                <a class="footer-links" href="">
                    Contact us
                </a>
                <a class="footer-links" href="">
                    Security
                </a>
                <a class="footer-links" href="">
                    Legal
                </a>
            </div>
            <div class="kubera-footer">
                <a class="footer-links" href="">
                    Get Kubera on iPhone
                </a>
                <a class="footer-links" href="">
                    Get Kubera on Android
                </a>
                <a class="footer-links" href="">
                    Support
                </a>
                <a class="footer-links" href="">
                    Twitter
                </a>
                <a class="footer-links" href="">
                    Facebook
                </a>
                <a class="footer-links" href="">
                    LinkedIn
                </a>
                <a class="footer-links" href="">
                    Refer a friend
                </a>
            </div>
        </div>
    </section>
</body>
</html>