{% extends 'base.html' %}
{% load static %}


{% block page-title %}
    My Blog
{% endblock page-title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}

{% block header %}
{% endblock header %}

{% block content %}
    {% include "blog/includes/header.html" %}
     
    <section id = 'welcome'>
        <header>
            <img src="{% static "blog/images/max.png" %}" alt="Author">
            <h2>OREOLUWA'S BLOG</h2>
        </header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, commodi.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% for post in posts  %}
                {% include "blog/includes/posts.html" %}
            {% endfor %}
            
        </ul>
    </section>

    <section id='about'>
        <h2>What I Do</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Sequi impedit a optio magnam consequatur earum. Culpa 
            dolore eos recusandae sunt.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Consequuntur, hic saepe. Eos veritatis placeat repudiandae!
        </p>
    </section>
{% endblock content %}